{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": ["react"],
  "settings": {
    "ecmascript": 6
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
